.body {
  overflow: hidden;
}

.day-buttons {
  margin-top: 20px;
}

.day-buttons button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  background-color: #00b4eb;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.day-buttons button:hover {
  background-color: #0056a2;
}
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  position: relative;
}

.confirm-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.confirm-button:hover {
  background-color: #0056b3;
}

.react-calendar__navigation button {
  color: black;
}

.react-calendar__tile {
  color: black;
}

.react-calendar__tile--now {
  background-color: #ffeb3b;
  color: black;
  border-radius: 50%;
}

.react-calendar__tile--active {
  background-color: #007bff;
  color: white;
}

.react-calendar__tile:hover {
  background-color: #f0f0f0;
  color: black;
}
